.box {
  background-color: red;
  width: 100px;
  height: 100px;
  color: white;
  font-size: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* direct child div is selected */
/* .container > div {
  background-color: blue;
} */

/* selects all the child items */
/* .container div {
  background-color: aqua;
} */

/* Next Sibling Combinator/Selector  */
/* div + p {
  color: brown;
} */

/* Subsequent Sibling Combinator/Selector(~) */
/* div ~ p {
  color: brown;
} */

/* Not visited link */
a:link {
  color: red;
}
/* Visited link */
a:visited {
  color: chartreuse;
}

a:hover {
  color: brown;
}
